/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
*
* Мои ФОНЫ
*
* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */

/*ТУСКЛЫЙ БЕЛЫЙ*/
.bg-dim{
    background-color: #c0c0c0;
}

a.bg-dim:hover, a.bg-dim:focus,
button.bg-dim:hover,
button.bg-dim:focus {
    background-color: #aeaeae;
}

a.bg-dim.active{
    background-color: rgba(27, 137, 27, 0.39);

}



/*СЛЕГКА ТУСКЛЫЙ БЕЛЫЙ*/
.bg-light-dim{
    background-color: #ebebeb !important;
}

a.bg-light-dim:hover, a.bg-light-dim:focus,
button.bg-light-dim:hover,
button.bg-light-dim:focus {
    background-color: #c0c0c0 !important;
}



/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
*
* Дополнительные классы
*
* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */


/*****ГРАНИЦЫ*****/

/*РДУСЫ*/
.br-5{
    border-radius: 5px;
}
.br-3{
    border-radius: 3px;
}

/*Запрещает кликать*/
.no_events{
    pointer-events: none;
}


/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
*
* Активные классы
*
* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */

.hoverer:hover{
    background-color: rgba(0, 0, 0, 0.31) !important;
}



/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
*
* Пагинация
*
* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */

.page-link{
    color: #17a2b8;
}
.page-item.active .page-link{
    background: #17a2b8;
    border-color: #17a2b8;
}