<template>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-12">
                <div class="card bg-dim tex">
                    <div class="card-header text-center font-weight-bold text-white">Сообщения
                        пользователя {{owner.email}}
                    </div>


                    <!--Модуль show-->
                    <div class="card-body bg-light" v-if="this.display_show_message">
                        <div class="card bg-dim tex ">
                            <div class="card-header text-center font-weight-bold text-white"><span
                                    class="text-black-50">
                                  <span class="badge badge-secondary">
                                          Тема:
                                  </span>
                                {{message.title}}
                            </span><a class="btn btn-danger float-right btn-sm" href="#"
                                      @click="display_show_message = false">Закрыть</a>
                            </div>
                            <div class="card-body bg-white">
                                {{message.text}}
                            </div>

                            <div class="card-footer">
                                <span class="badge badge-secondary"> ОТПРАВИТЕЛЬ: </span>
                                {{message.from_name}} {{message.from_email}}
                                <span class="badge badge-secondary"> ПОЛУЧАТЕЛЬ: </span>
                                {{message.to_name}}  {{message.to_email}}

                                <span class="badge badge-secondary"> Дата создания: </span>
                                {{message.created_at}}
                            </div>
                        </div>
                    </div>
                    <!--END Модуль show-->

                    <!--Модуль create-->
                    <div class="card-body bg-light" v-if="this.display_create_message">
                        <div class="card bg-dim tex ">
                            <div class="card-header text-center font-weight-bold text-white">
                                Создание нового сообщения
                                <a class="btn btn-danger float-right btn-sm" href="#"
                                   @click="display_create_message = false">Закрыть</a>
                            </div>
                            <div class="card-body bg-white">


                                <!--todo здесь форма создания нового сообщения-->
                                <form @submit.prevent="createNewMessage">

                                    <!--Второстепенный модуль добавления получателей сообщения add_to_users-->
                                    <div class="card bg-primary" v-if="this.display_add_to_users">
                                        <div class="card-header text-center text-white font-weight-bold ">
                                            Поиск получателя
                                            <a class="btn btn-danger float-right btn-sm" href="#"
                                               @click="display_add_to_users = false">Закрыть</a>
                                        </div>
                                        <div class="card-body bg-dim">


                                            <!--Форма поиска пользователя по введенным данным-->
                                            <form @submit.prevent="searchUsers">
                                                <div class="form-group">
                                                    <label for="su.email">Почта: {{ search_user.email }}</label>
                                                    <input id="su.email" class="form-control form-control-sm"
                                                           v-model="search_user.email" placeholder="Почта">
                                                    <label for="su.name">Логин: {{ search_user.name }}</label>
                                                    <input id="su.name" class="form-control form-control-sm"
                                                           v-model="search_user.name" placeholder="Почта">

                                                    <label for="su.last_name">Фамилия: {{ search_user.last_name
                                                        }}</label>
                                                    <input id="su.last_name" class="form-control form-control-sm"
                                                           v-model="search_user.last_name" placeholder="Почта">
                                                </div>
                                                <button type="submit" class="btn btn-success">Найти</button>
                                            </form>
                                            <!--END Форма поиска пользователя по введенным данным-->
                                            <!--Список найденых получателей-->
                                            <div v-if="Object.keys(searched_users).length > 0" class="mt-3">
                                                <div class="alert alert-info">Выберите получателя из списка:</div>
                                                <div v-for="user in searched_users">
                                                    <a href="#" @click.prevent="addTo_user(user)"
                                                       class="btn btn-block btn-lg btn-outline-primary text-left rounded-0">
                                                        {{user.name}} {{user.email}}
                                                    </a>
                                                </div>
                                            </div>
                                            <div class="mt-3" v-else>
                                                <div v-show="display_active_search" class="alert alert-danger">
                                                    Ничего не найдено
                                                </div>
                                            </div>
                                            <!--END Список найденых получателей-->


                                        </div>

                                    </div>
                                    <!--END Второстепенный модуль добавления получателей сообщения add_to_users-->


                                    <div class="btn btn-primary" v-if="!this.display_add_to_users"
                                         @click="display_add_to_users = true">Добавить получателя
                                    </div>
                                    <!--Список Получателей-->
                                    <div v-if="create_message.to_users.length > 0" class="mt-3">
                                        <div class="alert alert-info">Получатели:</div>
                                        <div v-for="receiver in create_message.to_users">
                                            <a href="#" @click.prevent="deleteReceiver(receiver)"
                                               class="btn btn-block btn-lg btn-outline-danger text-left rounded-0">
                                                {{receiver.name}} {{receiver.email}} (убрать)
                                            </a>
                                        </div>
                                    </div>
                                    <div class="mt-3" v-else>
                                        <div class="alert alert-danger">Не выбраны получатели</div>
                                        <p v-if="!create_messageValidate.to_users" class="text-danger">Выберите получателей</p>
                                    </div>
                                    <!--END Список найденых получателей-->

                                    <div class="form-group">
                                        <label for="cm.title">Тема: {{ create_message.title }}</label>
                                        <input id="cm.title" class="form-control form-control-sm"
                                               v-model="create_message.title" placeholder="Тема">
                                    </div>

                                    <div class="form-group">
                                        <label for="cm.text">Текст сообщения: {{ create_message.text }}</label>
                                        <textarea id="cm.text" class="form-control form-control-sm " v-bind:class="{ 'border-danger': !create_messageValidate.text}"
                                                  v-model="create_message.text" placeholder="Введите сообщение">
                                        </textarea>
                                        <p v-if="!create_messageValidate.text" class="text-danger">Обязательно заполните поле</p>
                                    </div>

                                    <div class="form-group">
                                        <div class="custom-control custom-checkbox">
                                            <input class="custom-control-input" type="checkbox" id="cm.checkbox"
                                                   v-model="create_message.is_draft">
                                            <label class="custom-control-label"
                                                   for="cm.checkbox">Сохранить как черновик</label>
                                        </div>
                                    </div>


                                    <div v-if="create_message.to_users.length > 0" class="mt-3">
                                        <button type="submit" class="btn btn-success">Отправить</button>
                                    </div>

                                </form>


                            </div>

                        </div>
                    </div>
                    <!--END Модуль create-->


                    <div class="card-body bg-light">
                        <div class="btn-group mb-3">
                            <a class="btn bg-dim" @click="change_message_type('received')"
                               v-bind:class="[message_type === 'received' ? 'active' : '']">Входящие
                                <span class="badge badge-info"
                                      v-if="received_new_count > 0"> {{received_new_count}}</span>
                            </a>
                            <a class="btn bg-dim" @click="change_message_type('sent')"
                               v-bind:class="[message_type === 'sent' ? 'active' : '']">Исходящие</a>
                            <a class="btn bg-dim" @click="change_message_type('draft')"
                               v-bind:class="[message_type === 'draft' ? 'active' : '']">Черновики</a>
                        </div>
                        <div class="btn-group mb-3">
                            <a class="btn btn-success text-white" @click="displayMessageModule('create')">
                                Новое сообщение</a>
                        </div>

                        <ul class="pagination">
                            <li v-bind:class="[{disabled: !pagination.prev_page_url}]"
                                class="page-item"><a class="page-link" href="#"
                                                     @click="fetchMessages(pagination.prev_page_url)"
                            >Предыдущая</a></li>
                            <li class="page-item disabled"><a class="page-link text-dark" href="#">
                                Страница {{pagination.current_page}} из {{pagination.last_page}}</a></li>
                            <li v-bind:class="[{disabled: !pagination.next_page_url}]"
                                class="page-item"><a class="page-link" href="#"
                                                     @click="fetchMessages(pagination.next_page_url)"
                            >Следующая</a></li>
                        </ul>

                        <!--foreach messages !!!!!!!!!!!!!!!!!!!!!-->
                        <a @click="showMessage(message)" href="#"
                           class="btn btn-block btn-lg btn-outline-secondary text-left rounded-0 mt-0 mb-0"
                           v-for="message in orderedMessages " :key="message.id">
                            <span class="badge badge-success"
                                  v-if="check_message_status(message_type,message.message_status_id) === 'plus'">
                                +
                            </span>
                            <span class="badge badge-success"
                                  v-else-if="check_message_status(message_type,message.message_status_id) === 'check'">
                                V
                            </span>
                            <span class="badge badge-danger"
                                  v-else-if="check_message_status(message_type,message.message_status_id) === 'x'">
                                X
                            </span>

                            <span v-else>
                            </span>

                            <span class="badge badge-secondary" v-if="message_type === 'received'">
                                Отправитель:
                            </span>
                            <span class="badge badge-secondary" v-else>
                                Получатель:
                            </span>
                            {{message.to_or_from}}
                            <span class="badge badge-secondary">
                                Тема:
                            </span>
                            {{message.title}}

                        </a>
                        <!--end foreach messages !!!!!!!!!!!!!!!!!!!!!-->

                    </div>
                </div>
            </div>
        </div>
    </div>
</template>


<script>
    export default {
        props: ['user_id', 'kind_of', 'csrf'],

        //Работа с получением айди ползьзователя
        mounted() {
            console.log(this.csrf);
            window.axios.defaults.headers.common['X-CSRF-TOKEN'] = this.csrf;
        },
        data() {
            return {
                messages: [],
                message: {
                    id: '',
                    title: '',
                    text: '',
                    created_at: '',
                    from_name: '',
                    from_email: '',
                    to_name: '',
                    to_email: '',
                    message_status_id: ''
                    //todo потом сделать поле если это черновик то редактировать и отправить
                },
                create_message: {
                    title: '',
                    text: '',
                    from: '',
                    to_users: [],
                    is_draft: false
                },
                create_messageValidate: {
                    text: true,
                    to_users: true
                },
                searched_users: [],
                search_user: {
                    email: '',
                    name: '',
                    last_name: ''
                },
                message_id: '',
                confirm: '',
                pagination: {},
                owner: '',
                message_type: '',
                received_new_count: 0,
                display_show_message: false,
                display_create_message: false,
                display_add_to_users: false,
                display_active_search: false,
            }
        },
        //функция вызываемая при загрузке страницы
        created() {
            this.message_type = this.kind_of;
            this.fetchMessages();
        },
        //здесь обозначаются методы
        methods: {


            //Отображение определенного модуля
            displayMessageModule(module_name) {
                if (module_name === 'show') {
                    this.display_show_message = true;
                    this.display_create_message = false;
                } else if (module_name === 'create') {
                    this.display_show_message = false;
                    this.display_create_message = true;
                } else {
                    this.display_show_message = false;
                    this.display_create_message = false;
                }
            },


            //Если в этот метод передаем параметр, то всё меняется
            fetchMessages(page_url) {
                let vm = this;
//                console.log(this.message_type);
                //Если существует входящий параметр, использует его, если нет, то то что в скобках
                page_url = page_url || ('/verified/vue/messages/index/' + this.user_id + '/' + this.message_type);
                // присоединение к api или другому
                fetch(page_url)
                    .then(res => res.json())
                    .then(res => {
                        this.messages = res.messages;
                        this.owner = res.user;
                        vm.makePagination(res.meta, res.links);
                        this.received_new_count = res.received_new_count;
                    })
                    .catch(err => console.log(err));
            },
            makePagination(meta, links) {
                let pagination = {
                    current_page: meta.current_page,
                    last_page: meta.last_page,
                    next_page_url: links.next,
                    prev_page_url: links.prev,
                };
                this.pagination = pagination;
            },
            //Метод изменения типа сообщений. sent -  отправленные, received - полученные, draft - черновики
            change_message_type(message_type) {
                let vm = this;
                this.message_type = message_type;
                vm.fetchMessages();
            },
            //Метод отображения необходимых баджей (получено, отправлено или прочтено ли сообщение)
            check_message_status(message_type, message_status) {
                let result = '';
                if (message_type === 'received' && message_status === 2) {
                    result = 'plus';
                } else if (message_type !== 'received' && message_status === 3) {
                    result = 'check';
                } else if (message_type !== 'received' && message_status !== 3) {
                    result = 'x';
                } else {
                    result = '';
                }
                return result
            },

            //Показать это сообщение
            //todo возможно сделать обновление сообщений если сообщение впервые прочитано
            showMessage(message) {
                var page_url_param;
                this.displayMessageModule('show');
                let message_id = message.id;
                this.message_id = message.id;
                //Если тип сообщений входящие то читаем с изменением статуса сообщения
                if (this.message_type === 'received') {
                    page_url_param = message_id + '/1';
                } else {
                    page_url_param = message_id;
                }
                //Если существует входящий параметр, использует его, если нет, то то что в скобках
                let page_url = '/verified/vue/messages/read/' + page_url_param;
                // присоединение к api или другому
                fetch(page_url)
                    .then(res => res.json())
                    .then(res => {
                        this.message = res;
                    })
                    .catch(err => console.log(err));
            },
            //Поиск преподавателей по параметрам
            //В post запросах нельзя в конце ставить СЛЕШ!!!
            searchUsers() {
                let page_url = '/verified/vue/messages/search_users';
                this.display_active_search = true;
                axios({
                    method: 'POST',
                    url: page_url,
                    //хедеры на самом деле не нужны, просто попытка работать без сбоев, в других запросах хедеры не использовать, это просто образец так как в api хедеры нужны
                    headers: {
                        'X-CSRF-TOKEN': this.csrf,
                        '_token': this.csrf,
                        'Content-type': 'application/json',
                    },

                    data: {
                        email: this.search_user.email,
                        name: this.search_user.name,
                        last_name: this.search_user.last_name
                    },
                    _token: this.csrf
                })
                    .then(res => {
                        this.searched_users = res.data;
                    })
                    .catch(err => console.log(err));

            },
            //Добавление найденого пользователя в список получателей для отправки сообщения
            addTo_user(user) {
                var enable_adding = true;
                //Неоптимизированная проверка на наличиие (хотя может и оптимизирована)
                this.create_message.to_users.forEach(function (element) {
                    if (JSON.stringify(element) === JSON.stringify(user)) {
                        enable_adding = false;
                    }
                });
                if (enable_adding) {
                    this.create_message.to_users.push(user);
                }
                console.log(this.create_message);
            },
            //Удалить получателя из списка
            deleteReceiver(receiver) {
                let result = this.create_message.to_users.findIndex(x => x.id === receiver.id);
                this.create_message.to_users.splice(result, 1);
                console.log(result);
            },
            //Создать новое сообщение
            createNewMessage() {
                this.create_message.from = this.user_id;
                console.log(this.create_message);
                let page_url = '/verified/vue/messages/store';

                // Разрешение на отправку сообщений
                let sent_access = this.validateSendMessage();
                if (sent_access) {
                    axios({
                        method: 'POST',
                        url: page_url,
                        //хедеры на самом деле не нужны, просто попытка работать без сбоев, в других запросах хедеры не использовать, это просто образец так как в api хедеры нужны
                        headers: {
                            'X-CSRF-TOKEN': this.csrf,
                            '_token': this.csrf,
                            'Content-type': 'application/json',
                        },

                        data: {
                            from: this.create_message.from,
                            is_draft: this.create_message.is_draft,
                            text: this.create_message.text,
                            title: this.create_message.title,
                            to_users: this.create_message.to_users,
                        },
                        _token: this.csrf
                    })
                        .then(res => {
                            console.log(res);

                        })
                        .catch(err => console.log(err));

                    this.zeroing();
                    this.fetchMessages();
                }

            },
            //обнуление создания сообщения
            zeroing() {
                this.create_message.title = '';
                this.create_message.text = '';
                this.create_message.from = '';
                this.create_message.to_users = [];
                this.create_message.is_draft = false;

                this.searched_users = [];
                this.search_user.email = '';
                this.search_user.name = '';
                this.search_user.last_name = '';

                this.display_add_to_users = false;
                this.display_create_message = false;

            },
            //Проверка валидации отправки сообщений
            validateSendMessage() {
                this.create_messageValidate.text = false;
                this.create_messageValidate.to_users = false;
                let text_validate = false;
                let users_validate = false;
                if (this.create_message.text !== '') {
                    this.create_messageValidate.text = true;
                    text_validate = true;
                }
                if (this.create_message.to_users.length !== 0) {
                    this.create_messageValidate.to_users = true;
                    users_validate = true;
                }

                if (text_validate && users_validate) {
                    return true;
                } else {
                    return false
                }


            }
        },
//        end methods


        computed: {
            orderedMessages: function () {
                return _.orderBy(this.messages, 'id', 'desc')
            }
        }


    }


</script>


<!--

как работать и тестировать, да кстати нужно написать тесты

http://taskziz/api/login  логинимся
{"email":"votoziz@gmail.com","password":"100500Qq","text":"tested"}

копируем токен

http://taskziz/api/auth/messages/index/user_id=1/kind_of=received

тут нужно обозначить хедеры

Accept  ЖЖЖЖЖ application/json

Authorization ЖЖЖЖЖ  Bearer :::тут скопированный огромный токен через пробел ат беврер:::

todo написать тесты которые это делают. переделать апи методы для того чтобы возвращали джейсон обьекты и сделать запросы с хедерами.!!




-->